.subHeader {
  // background-color: red;
  height: 200px;
  padding: 10px;
  // display: flex;
  // align-items:center;
  .subHeader__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    span {
      padding: 0px 20px;
      color: white;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .subHeader {
    .subHeader__nav {
      span {
        padding: 0px 10px;
      }
    }
  }
}