.footer {
  background-color: rgb(0, 195, 255);
  color: white;
  font-size: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;
  left:0px;
  bottom:0px;
  z-index:1;
  width:100%;
  
  .footer__socials {
    color: white;
    // padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: clamp(1rem, 2.2vw, 2.1rem);
      padding: 1px 15px;
      cursor: pointer;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      img {
        width: 20%;
        height: 20%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

    }
  }
}


@media screen and (max-width: 500px) {
  .footer {
    .footer__socials {
      
    }
  }
}